<div class="container">

        <!-- 로그인 페이지 하단의 슬라이드 버튼  -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

          <!-- 로그인 페이지 및 소개 페이지 -->
          <!-- 로그인 폼 , 이어섬 소개 -->
        <div class="carousel-inner">
          <div class="item active"  id="Main_landing">
            <!-- 첫번째 아이템 -->
            <div class="item">
                <!-- 로그인 폼  -->
              <div class="login_form">
                <%= image_tag "logo.png" , width: 700, height: 400, class: "logo"%>
                <div class = "row">
                  <div class ="col-md-1"></div>
                  <div class ="col-md-10">
                    <div class="form-group" id="landing_form">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name))do |f| %>
                        <div class="form-group" id="form_group">
                          <%= f.email_field :email, class: "form-control", placeholder: "이메일", autofocus: true, :required => true %>
                        </div>

                        <div class="form-group" id="form_group">
                          <%= f.password_field :password, class: "form-control", placeholder: "비밀번호", autocomplete: "off" , :required => true %>
                        </div>

                        <div class="login_option">
                          <div>
                            <!-- 세션유지 기능 만들기 -->
                            <label class="radio-inline">
                              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" > 로그인 상태 유지
                            </label>
                            <!-- 비밀번호 찾기 기능 devise 찾아보기 -->
                            <span style="float:right;"> 비밀번호 찾기 </span>
                          </div>
                        </div>

                        <div class="login_button">
                          <%= link_to "회원 가입", register_path , class: "btn btn-theme-dark btn-md" , id: "register_link" %>
                          <%= f.submit "로그인", class: "btn btn-theme-dark" , id: "login_link"%>
                        </div>
                      </div>
                    </div>
                    <div class = "col-md-1"></div>
                </div>
              </div>
              <% end %>
            </div>
          </div>

        <!-- 두번 째 아이템 -->
      <div class="item" id="landing1">
        <div class="landing1_logo">
          <%= image_tag "logo.png" , width: 420, height: 240,class: "landing1_logo"%>
        </div>

        <div class="landing1">
          <h1> 이어섬 </h1>
          <h1> IEOSUM </h1>
        </div>
          <div class="padding-70"> </div>
        <div class="landing1_intro">
          <p> 이어섬은 신진 아티스트들에게 웹 전시 플랫폼을 제공합니다.  </p> </br>
          <p> 까다로운 작가 선정의 기준이 없는 ‘이어섬’에서 마음껏 홍보하세요! </p>
        </div>
      </div>

        <!-- 세번 째 아이템 -->
      <div class="item" id="landing2">
        <div class="landing2">
          <h1> Artist</h1>
        </div>

        <div class="row" id="landing2_row">
          <div class="col-lg-3" id="landing2_circle">
            <div class="circle_box" > <p> 포트폴리오 </p> </div>
            <p> 간단한 클릭으로 작업을 아카이빙해 <br/> 포트폴리오를 만들 수 있습니다. </p>
          </div>

          <div class="col-lg-3" id="landing2_circle">
            <div class="circle_box"> <p> 전시 </p> </div>
            <p> 전시 기획과 과정을 <br/> 공유하고 홍보할 수 있습니다. </p>
          </div>

          <div class="col-lg-3" id="landing2_circle">
            <div class="circle_box"> <p> 기록 </p> </div>
              <p> 작업일지를 쓰면서 <br/ > 과정과 기록을 손쉽게 남깁니다. </p>
          </div>

          <div class="col-lg-3" id="landing2_circle">
            <div class="circle_box"> <p> 네트워크 </p> </div>
              <p> 다른 작가 및 관객과 <br /> 편리하게 소통할 수 있습니다. </p>
            </div>
        </div>
      </div>

        <!-- 네번 째 아이템 -->
      <div class="item" id="landing3">
        <div class="landing3">
          <h1> Public </h1>
        </div>
        <div class="row" id="landing3_row">
          <div class="col-lg-4" id="landing3_circle">
            <div class="circle" > <p> 작가검색 </p> </div>
            <p>관심있는 작가를 <br/> 검색할 수 있습니다.</p>
          </div>

          <div class="col-lg-4" id="landing3_circle">
            <div class="circle"> <p> 최신정보 </p> </div>
            <p>마음에 드는 작업과 작가의 <br/> 정보를 받아볼 수 있습니다.</p>
          </div>

          <div class="col-lg-4" id="landing3_circle">
            <div class="circle"> <p> 네트워크 </p> </div>
            <p>전시나 프로그램에 자유롭게 <br/> 참여할 수 있습니다.</p>
          </div>
        </div>
      </div>

       <!-- 왼쪽으로 이동하기위한 버튼 -->
      <a class="left carousel-control" id="left carousel-control" href="#myCarousel" data-slide="prev">
          <!-- 버튼이미지 -->
          <span class="glyphicon glyphicon-chevron-left"> </span>
      </a>
        <!-- 오른쪽으로 이동하기위한 버튼 -->
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <!-- 버튼이미지 -->
          <span class="glyphicon glyphicon-chevron-right"> </span>
      </a>
      </div>
    </div>
</div>
