<div class="issue_word_array">
  <%= javascript_tag do %>

    <% post_all_count = @post.count %>
    <% post_count = 1 %>

    var word_array = [
      <% @post.tag_counts.each do |p| %>
        {text: "<%= p.name %>", weight: <%= p.taggings_count.to_i %>, link: "/preview/<%= p.id %>"}<%= ',' if !p.nil? %>
        <% post_count += 1 %>
      <% end %>
    ];

    $(function() {
      $("#example").jQCloud(word_array);
    });
    
  <% end %>
</div>

<div class="container">
  <div id="example" style="width: 800px; height: 450px; margin: 0 auto;"> </div>
</div>