<div class="artist_word_array">
  <%= javascript_tag do %>

  var word_array = [
    <% @user.each do |u| %>
      {text: "<%= u.username %>", weight: <%= 10 %>, link: "/blog/<%= u.id %>"}<%= ',' if !u.nil? %>
    <% end %>
  ];

    $(function() {
            $("#example").jQCloud(word_array);
          });

  <% end %>
</div>

<div class="container">
  <div id="example" style="width: 800px; height: 450px; margin: 0 auto;"></div>
</div>