<nav>
  <div class="container" id="nav_setting">
    <div class="navbar-header">
      <a href="/"> <%= image_tag "logo.png", width: 300 , height: 120 %> </a>
    </div>

    <ul class="nav navbar-nav navbar-right" id="nav_setting_right">
      <li><a href="/home/issue">ISSUE</a></li>
      <li><a href="/home/group">GROUP</a></li>
      <li><a href="/home/artist">ARTIST</a></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="user_toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <i class="glyphicon glyphicon-user">  </i> </a>
          <ul class="dropdown-menu">
            <li> <%= current_user.username %> </li>
            <% @user.each do |x| if x.id == current_user.id.to_i %>
              <li styel ="font-family:'notokr-medium';"> <a href="/blog/<%= x.id %>"> 마이페이지 </a></li>
              <% end %>
            <% end %>
            <li><a href="#">메세지</a></li>
            <li><a href="#">마이페이지</a></li>
            <li role="separator" class="divider"></li>

            <li>팔로우</li>
            <li><a href="#">김희천</a></li>
            <li><a href="#">유목연</a></li>
            <li role="separator" class="divider"></li>

            <li>그룹</li>
            <li><a href="#">옥인콜렉티브</a></li>
            <li><a href="#">INTERNET yami-ichi</a></li>
            <li><a href="#">서울익스프레스</a></li>
            <li role="separator" class="divider"></li>
          </ul>
      </li>
      <li>
        <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>



<div class="container">
    <div class="row">
        <div class="col-md-4">
        <!--사이드바-->
            <div>
                작가명
            </div>
            <div>
                work
                <ul>
                    <li>tea</li>
                    <li>hidden</li>
                    <li>mokyon</li>
                    <li>tea</li>
                    <li>hidden</li>
                    <li>mokyon</li>
                </ul>
            </div>
            <div>
                profile
            </div>
            <div>
                reviews
            </div>

        </div>
        <div class="col-md-8">
        <!--이미지-->
            <% @post.each do |p| %>
                <div class="col-md-6">
                    <a href="/home/detail/<%= p.id %>"> <%= image_tag("#{p.image}", alt: " ") %> </a>
                </div>
            <% end %>
        </div>
    </div><!--row-->
</div><!--container-->
