<div class="padding-80"> </div>

<section class="row">
  <section class ="col-md-2"> </section>

  <% @post.each do |p| if p.id == params[:id].to_i %>
    <section class="col-md-6">
      <%= image_tag(p.image, size: "600x450", alt: "test", class: "gallery_image") %>
    </section>

    <section class="col-md-4">
      <h3> <%= p.artist %>  <span> <%= link_to " ", blog_path(p.user_id), id: "home_icon", class: "glyphicon glyphicon-home" %> </span> </h3>
      <h4> <%= p.title %> </h4>
      <div style="padding:100px;"> </div>
      <p>  <%= p.context %> </p>
    </section>
    <% end %>
  <% end %>
</section>
