<head>
  <style>
    @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
    .notokr-regular { font-family:notokr-regular !important; }
    .notokr-black { font-family:notokr-black !important; }
    .notokr-bold { font-family:notokr-bold !important; }
    .notokr-demilight { font-family:notokr-demilight !important; }
    .notokr-light { font-family:notokr-light !important; }
    .notokr-medium { font-family:notokr-medium !important; }
    .notokr-thin { font-family:notokr-thin !important; }
    @import url(http://fonts.googleapis.com/css?family=Noto+Sans);
  </style>
</head>


<body>
    <nav>
      <div class="container" id="nav_setting">
        <div class="navbar-header">
          <a href="/"> <%= image_tag "logo3.png", width: 125 , height: 100 %> </a>
        </div>

        <ul class="nav navbar-nav navbar-right" id="nav_setting_right">
          <li> <a href ="/"> <%= image_tag "search.png", width: 18, height: 18 %> </a></li>
    <!-- <span class="glyphicon glyphicon-search"> </span> </li> -->
          <li> <%= link_to "issue"  , issue_index_path %></li>
          <li> <%= link_to "group"  , group_index_path %></li>
          <li> <%= link_to "artist" , artist_index_path %></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="user_toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <%= image_tag "user.png", width: 23 , height: 23 %> </a>
                <ul class="dropdown-menu">
                  <li> <%= current_user.username %> </li>
                  <% @user.each do |x| if x.id == current_user.id %>
                    <li styel ="font-family:'notokr-medium';"> <a href="/blog/<%= x.id %>"> 마이페이지 </a></li>
                    <% end %>
                  <% end %>
                  <li role="separator" class="divider"></li>

                  <li role="presentation" class="dropdown-header">팔로우</li>
                  <li><a href="#">김희천</a></li>
                  <li role="separator" class="divider"></li>

                  <li role="presentation" class="dropdown-header">그룹</li>
                  <li><a href="#">옥인콜렉티브</a></li>
                  <li role="separator" class="divider"></li>
                  <li> <%= link_to "이미지업로드", new_post_path , target: "_new" %> </li>
                  <li>
                      <% if user_signed_in? %>
                        <%= link_to('로그아웃', destroy_user_session_path, :method => :delete) %>
                      <% end %>
                  </li>
                </ul>
            </li>
        </ul>
      </div>
    </nav>


    <div style="padding:30px;"> </div>

    <section class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-8">
        <% @post.each do |p| %>
          <%= link_to image_tag(p.image, size: "100x100", alt: "test", class: "gallery_image") , preview_path(p.id) %>
          <!-- <a href="/blog/preview/<%= p.id %>" class="gallery_image">
            <%= image_tag(p.image, size: "100x100", alt: "test", class: "gallery_image") %>
          </a> -->
        <% end %>
      </div>
      <div class="col-md-2"> </div>
    </section>
</body>
