<div style="padding:50px"></div>

<a class="group_new" href="/group/new">
  <div class="make_group" style="text-align:center;" border="1px solid #eee">
    + 그룹만들기
  </div>
</a>

<% @group.each do |g| %>
  <div class="group_show">
          <% if g.image.nil? %>
            <p> <%= g.name %> </p>
            <p> <%= g.content %> </p>
            <p> <%= g.current_member %> / <%= g.max_member %> </p>
          <% else %>
              <div class="group_info">

                <div class="group_image">
                  <%= image_tag(g.image, size: "200x200", alt: "test", class: "gallery_img") %>
                </div>

                <div class="info_head">
                  <h1 style="font-size:50px"> <%= g.name %> </h1>
                  <p>  <%= g.current_member %> / <%= g.max_member %> 명 </p>
                </div>

                <div class="info_body">
                  <p>  <%= g.content %> </p>
                </div>

                <div class="join_btn">
                  <button type="button" class="btn btn-default"> 가입하기 </button>
                </div>
            </div>

          <% end %>
   </div>
<% end %>
