    <div style="padding:50px"></div>

    <section class="row" style="text-align:center">

        <div class="col-md-2"> </div>

      <div class="col-md-7">
        <a href="/group/new"> <div class="make_group" style="text-align:center;" border="1px solid #eee"> + 그룹만들기 </div> </a>
      </div>

      <div class="col-md-3"> </div>

      <div class="col-md-2"> </div>
      <div class="col-md-8">
        <% @group.each do |g| %>
          <div class="row">
            <div class="col-md-12" style="display:inline">
                <%= image_tag(g.image, size: "300x300", alt: "test") %>
                <%= g.name %>
                <%= g.content %>
                <%= g.current_member %> / <%= g.max_member %>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-2"> </div>
    </section>
</body>
