<div style="padding:50px"></div>

<a class="group_new" href="/group/new">
  <div class="make_group" style="text-align:center;" border="1px solid #eee">
    + 그룹만들기
  </div>
</a>

<% @group.each do |g| %>
  <div class="row">
    <div class="col-md-12" style="display:inline">
        <%= image_tag(g.image, size: "300x300", alt: "test", class: "gallery_img") %>
        <%= g.name %>
        <%= g.content %>
        <%= g.current_member %> / <%= g.max_member %>
    </div>
  </div>
<% end %>
