<head>
  <style>
    @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
    .notokr-regular { font-family:notokr-regular !important; }
    .notokr-black { font-family:notokr-black !important; }
    .notokr-bold { font-family:notokr-bold !important; }
    .notokr-demilight { font-family:notokr-demilight !important; }
    .notokr-light { font-family:notokr-light !important; }
    .notokr-medium { font-family:notokr-medium !important; }
    .notokr-thin { font-family:notokr-thin !important; }
    @import url(http://fonts.googleapis.com/css?family=Noto+Sans);
  </style>
</head>




<body>
    <nav>
      <div class="container" id="nav_setting">
        <div class="navbar-header">
          <a href="/"> <%= image_tag "logo3.png", width: 125 , height: 100 %> </a>
        </div>

        <ul class="nav navbar-nav navbar-right" id="nav_setting_right">
          <li><a href ="/"> <%= image_tag "search.png", width: 18, height: 18 %> </a></li>
          <li> <%= link_to "issue"  , issue_index_path %> </li>
          <li> <%= link_to "group"  , group_index_path %> </li>
          <li> <%= link_to "artist" , artist_index_path %> </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="user_toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <%= image_tag "user.png", width: 23 , height: 23 %> </i> </a>
                <ul class="dropdown-menu">
                  <li> <%= current_user %> </li>
                  <li><a href="#">메세지</a></li>
                  <li role="separator" class="divider"></li>

                  <li role="presentation" class="dropdown-header">팔로우</li>
                  <li><a href="#">김희천</a></li>
                  <li role="separator" class="divider"></li>

                  <li role="presentation" class="dropdown-header">그룹</li>
                  <li><a href="#">옥인콜렉티브</a></li>
                  <li role="separator" class="divider"></li>
                  <li> <%= link_to "이미지업로드", new_post_path , target: "_new" %> </li>
                  <li>
                      <% if user_signed_in? %>
                        <%= link_to('로그아웃', destroy_user_session_path, :method => :delete) %>
                      <% end %>
                  </li>
                </ul>
            </li>
        </ul>
      </div>
    </nav>

    <div style="padding:50px"></div>

    <section class="row" style="text-align:center">

        <div class="col-md-2"> </div>

      <div class="col-md-7">
        <a href="/group/new"> <div class="make_group" style="text-align:center;" border="1px solid #eee"> + 그룹만들기 </div> </a>
      </div>

      <div class="col-md-3"> </div>

      <div class="col-md-2"> </div>
      <div class="col-md-8">
        <% @group.each do |g| %>
          <div class="row">
            <div class="col-md-12" style="display:inline">
                <%= image_tag(g.image, size: "300x300", alt: "test") %>
                <%= g.name %>
                <%= g.content %>
                <%= g.current_member %> / <%= g.max_member %>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-2"> </div>
    </section>
</body>
