<div class="padding-80"> </div>

<div style="width:400px; margin:0 auto; position:relative;">
  <%= form_for @group , url: {action: "create"} , role: "form", class:"form-group" do |f| %>
    <p class="form_field" > <%= f.text_field :name, :placeholder => "그룹명" , class: "form-control", id: "form_name" , :required => true %> </p>
    <p class="form_field"> <%= f.text_area :content, size: "60x12" , :placeholder => "내용" , class:"form-control"%> </p>
    <p class="form_field"> <%= f.file_field :image , :placeholder => "그룹사진", class: "form-control",id:"file-upload"%> </p>
  <div class="numbox">
    <%= f.text_field :current_member , :placeholder => "현재인원", class:"form-control" , id:"current-num" ,:required => true, :autocomplete => false %>
    <%= f.text_field :max_member , :placeholder => "최대인원" , class:"form-control"    , id:"max-num", :required => true, :autocomplete => false %>
  </div>
    <%= f.submit "제출" , class:"form-group", id:"register_id"%>
  <% end %>
</div>
