<nav>
  <div class="container" id="nav_setting">
    <div class="navbar-header">
      <a href="/"> <%= image_tag "logo.png", width: 300 , height: 120 %> </a>
    </div>

    <ul class="nav navbar-nav navbar-right" id="nav_setting_right">
      <li> <span class="glyphicon glyphicon-search"> </span> </li>
      <li> <%= link_to "Issue"  , issue_index_path %> </li>
      <li> <%= link_to "Group"  , group_index_path %> </li>
      <li> <%= link_to "Artist" , artist_index_path %> </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="user_toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <i class="glyphicon glyphicon-user">  </i> </a>
            <ul class="dropdown-menu">
              <li>사용자</li>
              <li><a href="#">메세지</a></li>
              <li role="separator" class="divider"></li>

              <li>팔로우</li>
              <li><a href="#">김희천</a></li>
              <li role="separator" class="divider"></li>

              <li>그룹</li>
              <li><a href="#">옥인콜렉티브</a></li>
              <li role="separator" class="divider"></li>
              <li> <%= link_to "이미지업로드", new_post_path , target: "_new" %> </li>
              <li>
                  <% if user_signed_in? %>
                    <%= link_to('로그아웃', destroy_user_session_path, :method => :delete) %>
                  <% end %>
              </li>
            </ul>
        </li>
    </ul>
  </div>
</nav>

<div style="padding:50px;"> </div>

<section class="row">
  <section class="col-md-2" style="margin-left:50px;">
    <% @user.each do |u| %>
      <% if u.id == params[:id].to_i %>
        <h3> <%= u.username %> </h3>
        <div style="padding:10px;"> </div>
        <h5> WORKS </h5>
        <% @work.each do |w| %>
          <p> <%= w.title %> </p>
        <% end %>

        <%= link_to "+" , new_work_path %>
        <h5> PROFILE </h5>
        <h5> REVIEW </h5>
        <p> <%= u.email %> </p>
      <% end %>
    <% end %>
  </section>
</section>
