<div class="container">
  <div class="left_nav" style = "padding-left:50px;">
      <% @user.each do |u| %>
        <% if u.id == params[:id].to_i %>
          <h3 style = "font-family:notokr-medium;"> <%= u.username %> </h3>
          <div style="padding:15px;">
              <h5 style = "font-family:notokr-bold;"> works </h5>
              <% @work.each do |w| if w.user_id == params[:id].to_i %>
                <div style="padding-left:10px; display:block; font-family:notokr-light; padding-bottom: 7px;"> &nbsp; <%= link_to w.title, work_path(w) %> <br></div>
                <% end %>
              <% end %>
              <div style="padding-left: 17px;"> <%= link_to image_tag("add.png", size: "12x12", alt: "add") , new_work_path, { :class => "visited"} %> </div>
              <h5 style = "font-family:notokr-bold;"> <%= link_to "profile", profile_path(u), { :class => "visited"}  %> </h5>
              <h5 style = "font-family:notokr-bold;"> review </h5>
          </div>
          <br><br><br>
          <p style = "font-family:notokr-regular"> <%= u.email %> </p>
        <% end %>
      <% end %>
  </div>
</div>