<div style="padding:80px;"> </div>

<div  class="left_nav">
    <% @user.each do |u| %>
      <% if u.id == params[:id].to_i %>
        <h3> <%= u.username %> </h3>
        <div style="padding:10px;"> </div>
        <h5> WORKS </h5>
        <% @work.each do |w| %>
          <p style="padding-left: 10px"> <%= w.title %> </p>
        <% end %>

        <div style="padding-left: 10px;"> <%= link_to "+" , new_work_path %> </div>
        <h5> <%= link_to "PROFILE", blog_profile_index_path(params[:id]) %> </h5>
        <h5> REVIEW </h5>
        <p> <%= u.email %> </p>
      <% end %>
    <% end %>
</div>
