<!-- 프로필 페이지 -->
<!-- 작가 개인 소개  -->
<!-- 삭제, 수정, 역순 출력 완성 -->

<div style="padding:80px;"> </div>
<div class="profile">
  <div class ="row">
    <div class = "col-md-3">
      <div class="left_nav" style = "padding-left:50px;">
          <% @user.each do |u| %>
            <% @user_id = u.id %>
            <% if u.id == params[:id].to_i %>
              <h3 style = "font-family:notokr-medium;"> <%= u.username %> </h3>

              <div style="padding:15px;">
                  <h5 style = "font-family:notokr-bold;"> works </h5>

                  <% @work.reverse.each do |w| if w.user_id == params[:id].to_i %>
                  <div style="padding-left: 10px; font-family:notokr-light; padding-bottom: 7px;"> &nbsp; <%= w.title %> <br></div>
                    <% end %>
                  <% end %>

                  <div style="padding-left: 17px;"> <%= link_to image_tag("add.png", size: "12x12", alt: "add") , new_work_path, { :class => "visited"} %> </div>
                  <h5 style = "font-family:notokr-bold;"> <%= link_to "profile", profile_path(params[:id]), { :class => "visited"} %> </h5>
                  <h5 style = "font-family:notokr-bold;"> review </h5>
              </div>
              <br><br><br>
              <p style = "font-family:notokr-regular"> <%= u.email %> </p>
                <% end %>
              <% end %>
        </div>
      </div>

      <div class = "col-md-7">
        <div class="profile_info" style = "padding:80px;">
            <% @profile.reverse.each do |p| %>
              <p style = "width:600px; font-family:notokr-thin; line-height:200%;">
                <%= p.content %>
                <p id = "key-color">
                    <% if p.user_id == current_user.id %>
                      <%= p.user_id %>
                      <%= params[:id].to_i %>
                      <%= link_to "수정", edit_profile_path(p)%>
                      <%= link_to '삭제', profile_path(p), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %>
                    <% end %>
                  </p>
              </p>
              <% end %>
            <% if current_user.id == params[:id].to_i %>
              <%= link_to image_tag("add.png", size: "12x12", alt: "add"), new_profile_path %>
            <% end %>
        </div>
      </div>

      <div class = "col-md-2"></div>
    </div>
  </div>
